<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>blog transfer system</title>

<link rel="stylesheet" type="text/css" href="{{contextPath}}/styles/login.css"/>
<!-- 
<link rel="stylesheet" type="text/css" href="../../styles/login.css"/>
-->
</head>
<body >
<div id="container"  align="center" >
	<div id="head-image">
	</div>
	<div id="word">
		<h2> Blog Transfer System Landing screen </h2>
	</div>
	<!-- this is a form	-->
	<div id="form">
		<form id="myForm"  method="post" action="j_spring_security_check">
			<table border="1">
				<tr>
					<td>
						<label for="username">username:</label>
						<input type="text" name="j_username"/>
					</td>
				</tr>
				<tr>
					<td>
						<lable for="password">password:</lable>
						<input type="password" name="j_password"/>
					</td>
				</tr>
				<tr>
					<td>
						&nbsp;&nbsp;
						<input type="submit" value="login"/>
						<input type="reset" value="reset"/>
					</td>
					
				</tr>
			</table>
		</form>
	</div>

	<div id = "foot">
		Copyright © ftutor 2014
	</div>
	
</div>
</body>
</html>