<!DOCTYPE html>
<html>
<head>
<title> Welcome screen> </title>
</head>
<body>
<div id="display" align="center" style="margin:auto;height:400px;width:400px">
<h3 style="text-align:left;margin-bottom:0"> hi {{username}}!</h3>
	welcome back!your password is:{{password}};</p>
</div>
</body>
<html>